.container
  .row
    .col-md-12.h1.text-center{onclick: "advance('attributes', null);"}
      Distribute Attributes:
    .row.toggler{id: 'attributes'}
      .col-sm-6
      .col-sm-2.text-right
        .vh_bignum{id: 'attribute_points'}
          = (@vault_hunter.current_skill_points.nil?) ? 0 : @vault_hunter.current_skill_points
      .col-sm-4.text-left
        Points remain
      .col-sm-12.vh_build_window{id: 'attributes_window'}  
        - @vault_hunter.attribute_instances.each do |attribute_inst|
          .row
            .col-md-2
            .col-md-2.vh_build_large.text-center
              = attribute_inst.name.capitalize
            .col-md-8
              .row.text-center
                .col-sm-4
                .col-sm-1.vh_build_huge.text-right{onclick:"remove_attribute_point(#{attribute_inst.id});"}
                  \-
                .col-sm-2.vh_build_huge.text-center
                  .vh_build_number{id: "vh_build_attribute_#{attribute_inst.id}"}
                  = attribute_inst.value
                .col-sm-1.vh_build_huge.text-left{onclick:"add_attribute_point(#{attribute_inst.id});"}
                  \+
                .col-sm-4
      .col-md-12.vh_spacer
      .col-md-12.text-center
        .btn.btn-success.btn-huge{onclick: "advance('race', populate('races_window','/races/list')); return false;" }
          Next
  
  .row
    .col-md-12.h1.text-center{onclick: "advance('race', null);"}
      Pick a race:
    .row.toggler{id: 'race', style: "display:none"}
      .col-md-12.vh_build_window{id: 'races_window'}
      .col-md-12.vh_spacer
      .col-md-12.text-center
        .btn.btn-success.btn-huge{onclick: "advance('description', null); return false;"}
          Next
  
  .row
    .col-md-12.h1.text-center{onclick: "advance('description', null);"}
      Describe your character:
    .row.toggler{id: 'description', style: "display:none"}
      .col-md-6
        .row
          .col-sm-12
            .vh_region_title Description
            %textarea{id: "vh_builder_description", class: "vh_txt_box vh_smalltext form-control"}
              = @vault_hunter.description
          .col-sm-12
            .vh_region_title Traits
            %textarea{id: "vh_builder_traits", class: "vh_txt_box vh_smalltext form-control"}
              = @vault_hunter.traits
      .col-md-6
        .row.vh_rp
          .col-sm-12
            .vh_region_title Background
            %textarea{id: "vh_builder_background", class: "vh_txt_box vh_smalltext form-control"}
              = @vault_hunter.background
          .col-sm-12
            .vh_region_title Flaws
            %textarea{id: "vh_builder_flaws", class: "vh_txt_box vh_smalltext form-control"}
              = @vault_hunter.flaws
      .col-md-12.vh_spacer
      .col-md-12.text-center
        .btn.btn-success.btn-huge{onclick: "advance('proficiencies', populate('proficiencies_window', '/proficiency_templates/list')); return false;"}
          Next
  
  .row
    .col-md-12.h1.text-center{onclick: "advance('proficiencies', null);"}
      Select your proficiencies:
    .row.toggler{id: 'proficiencies', style: "display:none"}
      .vh_region_title Improve
      .row.proficiencies
        - @vault_hunter.proficiencies.each do |proficiency|
          .col-md-5
            = proficiency.name
          .col-md-5{id: "vh_build_proficiency_#{proficiency.id}"}
            = proficiency.tier
          .col-md-2{onclick: "improve_proficiency(#{proficiency.id})"}
            \+
      .vh_region_title Add New:
      .col-md-12.vh_build_window{id: 'proficiencies_window'}
      .col-md-12.vh_spacer
      .col-md-12.text-center
        .btn.btn-success.btn-huge{onclick: "advance('action_skills', populate('action_skills_window', '/hunters/#{@vault_hunter.id}/potentialskills')); return false;"}
          Next
  
  .row
    .col-md-12.h1.text-center{onclick: "advance('action_skills', null);"}
      Select your action-skills:
    .row.toggler{id: 'action_skills', style: "display:none"}
      .vh_region_title Action Skills
      .col-md-12.vh_build_window{id: 'action_skills_window'}
      .vh_region_title Custom Skill Builder (coming soon)
      .col-md-12.vh_spacer
      .col-md-12.text-center
        .btn.btn-success.btn-huge{onclick: "advance('equipment', null); return false;"}
          Next
    
  .row
    .col-md-12.h1.text-center{onclick: "advance('equipment', null);"}
      Purchase Equipment:
    .row.toggler{id: 'equipment', style: "display:none"}  
      .col-md-12.vh_spacer
      .col-md-12.text-center
        .btn.btn-success.btn-huge{onclick: "builder_save(); return false;"}
          Review
