.container
  .row.vh_page
    .col-md-9
      %h1
        Editing 
        = @vault_hunter.name
    .col-md-1
      %a.btn.btn-info.btn-large{href: "/hunters/#{@vault_hunter.id}/build"}
        Builder
    .col-md-1
    .col-md-1
      %a.btn.btn-info.btn-large{href: "/hunters/#{@vault_hunter.id}/share"}
        Share
  .row.vh_page
    %input{type: "hidden", id: "vh_spent_skill_points", value: @vault_hunter.spent_skill_points}
    %input{type: "hidden", id: "vh_spent_proficiency_points", value: @vault_hunter.spent_proficiency_points}
    %input{type: "hidden", id: "vh_id", value: @vault_hunter.id}
    %input{type: "hidden", id: "vh_race_id", value: @vault_hunter.race_id}
    -if user_signed_in?
      %input{type: "hidden", id: "current_user", value: current_user.id}
    .row
      = render partial: 'edit_attribute_block', locals: {vault_hunter: @vault_hunter}
    .vh_spacer
    .row
      = render partial: 'edit_stat_block', locals: {vault_hunter: @vault_hunter}
    .vh_spacer
    .row
      .col-sm-12
        .row
          .vh_region_title Loot and Equipment
          .col-sm-12
            %textarea{id: "vh_loot", class: "vh_txt_box vh_smalltext form-control"}
              = @vault_hunter.loot
          .vh_region_title Money
          .col-sm-12
            $
            %input{id: "vh_money", class: "vh_longnum", value: @vault_hunter.money}
    .vh_spacer
    .row
      .col-sm-6
        .vh_region_title 
          Proficiencies
        .col-sm-1
        .col-sm-4.vh_hint
          Name
        .col-sm-2.vh_hint
          Points
        .col-sm-2.vh_hint
          Tier
        .col-sm-3
        .vh_proficiencies{id: :proficiencies}
          -@vault_hunter.proficiency_instances.each_with_index do |proficiency,index|
            = render parital: 'proficiencies/edit', locals: {proficiency: proficiency, index: index}
        .col-sm-6
          %a{href: "#prof-window", 'data-toggle' => "modal", 'data-target' => '#prof-window', onclick: 'openModal("prof-window");populateModal("prof-window", "/hunters/' + @vault_hunter.id.to_s + '/potentialproficiencies");'}
            %img{src: "/images/plus.png"}
            Add Proficiency
        .vh_spacer
      .col-sm-6
        .vh_region_title 
          Skills
        .col-sm-3.vh_hint
          Name
        .col-sm-9.vh_hint
          Description
        .vh_actions{id: :actions}
          -@vault_hunter.skill_instances.each_with_index do |action,index|
            = render partial: 'skills/edit', locals: {skill: action, index: index}
        .col-sm-12
          %a{href: "#action-window", 'data-toggle' => "modal", 'data-target' => '#action-window', onclick: 'openModal("action-window");populateModal("action-window","/hunters/' + @vault_hunter.id.to_s + '/potentialskills");'}
            %img{src: "/images/plus.png"}
            Add Skill
        .vh_spacer
    .row.vh_rp
      .col-sm-6
        .vh_region_title Description
        %textarea{id: "vh_description", class: "vh_txt_box vh_smalltext form-control"}
          = @vault_hunter.description
      .col-sm-6
        .vh_region_title Background
        %textarea{id: "vh_background", class: "vh_txt_box vh_smalltext form-control"}
          = @vault_hunter.background
    .row.vh_rp
      .col-sm-6
        .vh_region_title Traits
        %textarea{id: "vh_traits", class: "vh_txt_box vh_smalltext form-control"}
          = @vault_hunter.traits
      .col-sm-6
        .vh_region_title Flaws
        %textarea{id: "vh_flaws", class: "vh_txt_box vh_smalltext form-control"}
          = @vault_hunter.flaws
    .row.vh_spacer
    .vh_region_title Minions
    .vh_minions{id: :minions}
      - @vault_hunter.minion_instances.each_with_index do |minion,index|
        = render partial: 'minions/edit', locals: {minion: minion, index: index}
    .col-sm-12
      %a{href: '#minion-window', 'data-toggle' => 'modal', 'data-target' => '#minion-window', onclick: 'add_minion()'}
        %img{src: "/images/plus.png"}
        New Minion
    .vh_spacer
    .row
      .col-sm-12
        %button.btn.btn-success{type: "submit", onclick:'saveVaultHunter(' + @vault_hunter.id.to_s + ');'} 
          Save Changes
  .row.vh_spacer
.vh_spacer