.container.page
  .row
    .row.single
      .field.col-sm-3
        .hint Name
        .txt
          = @vault_hunter.name
      .field.col-sm-1
        .hint Level
        .num
          = @vault_hunter.level
      .field.col-sm-3
        .hint Player
        .txt
          = @vault_hunter.user.username
      .field.col-sm-1
        .hint Age
        .num
          = @vault_hunter.age
      .field.col-sm-1
        .hint Height
        .txt 
          = @vault_hunter.height
      .field.col-sm-1
        .hint Weight
        .txt
          = @vault_hunter.weight
    .row.single
      .field.col-sm-3
        .hint Race
        .txt
          = @vault_hunter.race
  .row.spacer
  .row
    .region_title Attributes
    .row.hardbox
      -@vault_hunter.attribute_instances.order('id').each do |attribute|
        .cell.col-sm-3
          .row
            .col-sm-12
              = attribute.name.capitalize
          .row
            .col-sm-12
              .bignum.auto
                = attribute.value
          .row
            .col-sm-12
              = "[" + attribute.short + "]"
  .row.spacer
  .row
    .col-sm-6
      .row.softbox
        .col-sm-6
          .row
            .col-sm-12
              Toughness
            .col-sm-12
              .bignum.auto
                = @vault_hunter.toughness
          .row
            .col-sm-12
              Current Wounds
            .col-sm-12
              .bignum.auto
                = @vault_hunter.wounds
        .col-sm-6
          .row
            .col-sm-12
              Shield
            .col-sm-12
              .bignum.auto
                = @vault_hunter.shield
          .row
            .col-sm-12
              Current Shield
            .col-sm-12
              .bignum.auto
                = @vault_hunter.current_shield
      .row
        .region_title Attack Actions
        .attacks
          -@vault_hunter.attacks.each do |attack|
            .row.attack_pad
              .row
                .col-sm-5.hint Weapon
                .col-sm-2.hint Pool
                .col-sm-2.hint Damage
              .row
                .col-sm-5
                  .txt
                    = attack.name
                .col-sm-2
                  .num
                    = attack.pool
                .col-sm-2
                  .num
                    = attack.dmg
              .row
                .col-sm-12.hint Misc
              .row
                .col-sm-12
                  .txt
                    = attack.misc
      .row.spacer
      .row
        .region_title Loot and Equipment
        .col-sm-12
          .txt_box
            = find_and_preserve @vault_hunter.loot.split("\n").join('<br>').html_safe
        .region_title Money
        .col-sm-12
          .longnum
            = @vault_hunter.money
    .col-sm-6
      .row.profs
        .region_title 
          Proficiencies
        .col-sm-9.prof_name.hint
          Name
        .col-sm-3.prof_tier.hint
          Tier
        .proficiencies
          -@vault_hunter.proficiencies.each_with_index do |proficiency,index|
            .row{class: ((index % 2) == 0) ? "alt" : ""}
              .col-sm-9.prof_name
                = proficiency.name
              .col-sm-3.prof_tier
                .num
                  = proficiency.tier
      .row.spacer
      .row.skills
        .region_title 
          Action Skills
        .col-sm-3.hint
          Name
        .col-sm-9.hint
          Description
        .actions
          -@vault_hunter.skills.each_with_index do |action, index|
            .row{class: ((index % 2) == 0) ? "alt" : ""}
              .col-sm-3
                = action.name
              .col-sm-9
                = action.description
  .row.spacer
.spacer