.container.vh_page
  %input{type: "hidden", id: "vh_current_skill_points", value: @vault_hunter.current_skill_points}
  %input{type: "hidden", id: "vh_current_proficiency_points", value: @vault_hunter.current_proficiency_points}
  %input{type: "hidden", id: "vh_id", value: @vault_hunter.id}
  -if user_signed_in?
    %input{type: "hidden", id: "current_user", value: current_user.id}
  .row
    .row.vh_single
      .vh_field.col-sm-3
        .vh_hint Name
        %input{id: "vh_name", class: "vh_txt", value: @vault_hunter.name}
      .vh_field.col-sm-1
        .vh_hint Level
        %input{id: "vh_level", class: "vh_num", value: @vault_hunter.level}
      .vh_field.col-sm-3
        .vh_hint Player
        %input{id: "dontparse_player", class: "vh_txt", value: @vault_hunter.user.username, readonly: "true"}
      .vh_field.col-sm-1
        .vh_hint Age
        %input{id: "vh_age", class: "vh_num", value: @vault_hunter.age}
      .vh_field.col-sm-1
        .vh_hint Height
        %input{id: "vh_height", class: "vh_txt", value: @vault_hunter.height }
      .vh_field.col-sm-1
        .vh_hint Weight
        %input{id: "vh_weight", class: "vh_txt", value: @vault_hunter.weight}
    .row.vh_single
      .vh_field.col-sm-3
        .vh_hint Race
        %input{id: "vh_race", class: "vh_txt", value: @vault_hunter.race}
  .row.vh_spacer
  .row
    .col-sm-12
      .vh_region_title Attributes
    .col-sm-12
      .row.vh_hardbox
        -@vault_hunter.attribute_instances.order('id').each do |attribute|
          .vh_cell.col-sm-3
            .row
              .col-sm-12
                = attribute.name.capitalize
            .row
              .col-sm-12
                %input{id: "vh_attrib_" + attribute.id.to_s, class: "vh_bignum", value: attribute.value}
            .row
              .col-sm-12
                = "[" + attribute.short + "]"
  .row.vh_spacer
  .row
    .col-sm-6
      .row
        .vh_softbox
          .col-sm-6
            .row
              .col-sm-12
                Toughness
              .col-sm-12
                %input{id: "vh_toughness", class: "vh_bignum", value: @vault_hunter.toughness}
            .row
              .col-sm-12
                Current Wounds
              .col-sm-12
                %input{id: "vh_wounds", class: "vh_bignum", value: @vault_hunter.wounds}
          .col-sm-6
            .row
              .col-sm-12
                Shield
              .col-sm-12
                %input{id: "vh_shield", class: "vh_bignum", value: @vault_hunter.shield}
            .row
              .col-sm-12
                Current Shield
              .col-sm-12
                %input{id: "vh_current_shield", class: "vh_bignum", value: @vault_hunter.current_shield}
      .row.vh_spacer
      .row
        .vh_region_title Attack Actions
        .vh_attacks{id: :attacks}
          -@vault_hunter.attacks.each do |attack|
            = render template: "attacks/edit", layout: false, locals: {attack: attack}
        .col-sm-12
          %a{href: '#attack-window', 'data-toggle' => 'modal', 'data-target' => '#attack-window', onclick: 'build_modal("attack-window");set_modal_list("attack-window", "/hunters/' + @vault_hunter.id.to_s + '/skills");'}
            %img{src: "/images/plus.png"}
            Add Attack
      .row.vh_spacer
      .row
        .vh_region_title Loot and Equipment
        .col-sm-12
          %textarea{id: "vh_loot", class: "vh_txt_box"}
            = @vault_hunter.loot
        .vh_region_title Money
        .col-sm-12
          $
          %input{id: "vh_money", class: "vh_longnum", value: @vault_hunter.money}
        .vh_region_title Minions
        .vh_minions{id: :minions}
          - @vault_hunter.minions.each do |minion|
            = render template: 'minions/edit', layout: false, locals: {minion: minion}
        .col-sm-12
          %a{href: '#minion-window', 'data-toggle' => 'modal', 'data-target' => '#minion-window', onclick: 'add_minion()'}
            %img{src: "/images/plus.png"}
            New Minion
    .col-sm-6
      .row.vh_profs
        .vh_region_title 
          Proficiencies (
          %span.vh_bucket{id: "current_proficiency_points"}
            = @vault_hunter.current_proficiency_points
          )
        .col-sm-9.vh_prof_name.vh_hint
          Name
        .col-sm-3.vh_prof_tier.vh_hint
          Tier
        .vh_proficiencies{id: :proficiencies}
          -@vault_hunter.proficiencies.each_with_index do |proficiency,index|
            = render template: "proficiencies/edit", layout: false, locals: {proficiency: proficiency, index: index}
        .col-sm-12
          %a{href: "#prof-window", 'data-toggle' => "modal", 'data-target' => '#prof-window', onclick: 'build_modal("prof-window");set_modal_list("prof-window", "/proficiency_templates/list");'}
            %img{src: "/images/plus.png"}
            Add Proficiency
      .row.vh_spacer
      .row.vh_skills
        .vh_region_title 
          Action Skills (
          %span.vh_bucket{id: "current_skill_points"}
            = @vault_hunter.current_skill_points
          )
        .col-sm-3.vh_hint
          Name
        .col-sm-9.vh_hint
          Description
        .vh_actions{id: :actions}
          -@vault_hunter.skills.each_with_index do |action,index|
            = render template: "skills/edit", layout: false, locals: {skill: action, index: index}
        .col-sm-12
          %a{href: "#action-window", 'data-toggle' => "modal", 'data-target' => '#action-window', onclick: 'build_modal("action-window");set_modal_list("action-window","/skill_templates/list");'}
            %img{src: "/images/plus.png"}
            Add Action-Skill
      .row.vh_spacer
      .row.vh_rp
        .col-sm-12
          .vh_region_title Description
          %textarea{id: "vh_description", class: "vh_txt_box"}
            = @vault_hunter.description
        .col-sm-12
          .vh_region_title Background
          %textarea{id: "vh_background", class: "vh_txt_box"}
            = @vault_hunter.background
        .col-sm-12
          .vh_region_title Traits
          %textarea{id: "vh_traits", class: "vh_txt_box"}
            = @vault_hunter.traits
        .col-sm-12
          .vh_region_title Flaws
          %textarea{id: "vh_flaws", class: "vh_txt_box"}
            = @vault_hunter.flaws
  .row.vh_spacer
  .row
    .col-sm-12
      %button.btn.btn-default{type: "submit", onclick:'save_vault_hunter(' + @vault_hunter.id.to_s + ');'} 
        Save Changes
  .row.vh_spacer
.vh_spacer