.container.vh_page
  .row
    = render 'attribute_block', locals: {vault_hunter: @vault_hunter}
    .row.vh_spacer
  .row
    = render 'stat_block', locals: {vault_hunter: @vault_hunter}
    .row.vh_spacer

  .row
    .vh_region_title Loot and Equipment
      .col-sm-12
        .vh_txt_box
          = (@vault_hunter.loot.nil?) ? ("") : (find_and_preserve @vault_hunter.loot.split("\n").join('<br>').html_safe)

    .vh_region_title Money
      .col-sm-12
        .vh_longnum
          = @vault_hunter.money
      .vh_spacer

    .vh_region_title Minions
      = render template: 'minions/instance_list', locals: {minion: vault_hunter.minions}
      .vh_spacer
    .col-sm-6
      .row.vh_proficiencies
        .vh_region_title
          Proficiencies
        = render 'proficiencies/instance_list', locals: {proficiencies: vault_hunter.proficiencies}
        .row.vh_spacer

      .row.vh_skills
        .vh_region_title 
          Skills
        = render 'skills/instance_list', locals: {skills: vault_hunter.skills}
        .row.vh_spacer

  .row.vh_rp
    .col-sm-12
      .region_title Description
      .vh_txt_box.vh_smalltext
        = (@vault_hunter.description.nil?) ? ("") : (find_and_preserve @vault_hunter.description.split("\n").join('<br>').html_safe)
    .col-sm-12
      .region_title Background
      .vh_txt_box.vh_smalltext
        = (@vault_hunter.background.nil?) ? ("") : (find_and_preserve @vault_hunter.background.split("\n").join('<br>').html_safe)
    .col-sm-12
      .region_title Traits
      .vh_txt_box.vh_smalltext
        = (@vault_hunter.traits.nil?) ? ("") : (find_and_preserve @vault_hunter.traits.split("\n").join('<br>').html_safe)
    .col-sm-12
      .region_title Flaws
      .vh_txt_box.vh_smalltext
        = (@vault_hunter.flaws.nil?) ? ("") : (find_and_preserve @vault_hunter.flaws.split("\n").join('<br>').html_safe)
  .row.vh_spacer
.vh_spacer