=form_for(@attack) do |f|
  .form_group
    = f.label "Name"
    = f.text_field :name, autofocus: true, class: 'form-control'
  .form_group
    = f.label "Dice Pool"
    = f.text_field :pool, class: 'form-control'
  .form_group
    = f.label "Damage"
    = f.text_field :dmg, class: 'form-control'
  .form_group
    = f.label "Misc"
    = f.text_field :misc, class: 'form-control'
  .form_group
    = f.label "Vault Hunter"
    = f.text_field :vault_hunter_name, value: @vault_hunter.name, editable: false
    = f.hidden_field :vault_hunter_id, value: @vault_hunter.id
  .form_group
    = f.label "Skill"
    %a{href: "#modal-window", 'data-toggle' => "modal", 'data-target' => '#modal-window', onclick: 'set_modal_list("/hunter/#{@vault_hunter.id}/skills")'}
  .form_group
    = f.submit "Save"
