.row{class: "skill_row #{listRowClass(index)}", instance_id: "#{skill.id}", id: "skill_#{skill.id}"}
  .col-sm-3
    = skill.skill_template.name
  .col-sm-3.vh_field
    %input{id: "sk_#{skill.id}_duration", name: "duration", class: "vh_txt", value: skill.current_duration.current_time}
  .col-sm-3.vh_field
    %input{id: "sk_#{skill.id}_cooldown", name: "cooldown", class: "vh_txt", value: skill.current_cooldown.current_time}
  .col-sm-3.vh_field
    %input{id: "sk_#{skill.id}_modifiers", name: "modifiers", class: "vh_txt", value: skill.current_modifiers}