.col-sm-3
  = skill.name
.col-sm-2
  = skill.skill_type
.col-sm-2
  = skill.duration
.col-sm-2
  = skill.cooldown
.col-sm-3
  %a{href: '#', onmouseenter: "blrpgWindows.openHoverWindow(event,'/skills/card?id=#{skill.id}', 'skill-window');", onmouseleave: "blrpgWindows.closeHoverWindow();"}
    Card