.row{class: listRowClass(index), onclick: 'edit_minion(#{minion.id})'
  .col-sm-1
  .col-sm-4
    = minion.minion_template.name
  .col-sm-2
    = minion.hp
  .col-sm-2
    = minion.shield
  .col-sm-2
    = minion.armor
  .col-sm-1